= form_for resource, :url => polymorphic_path([:admin, parent, resource]), :remote => request.xhr? do |f|
  .errors= resource_error_messages!

  .field
    = f.label :name, nil, :class => :req
    = f.text_field :name

  .field
    = f.label :template, nil, :class => :req
    = f.text_field :template

  %fieldset.poll-answers.nested-associations
    %legend
      %span= f.label(:poll_answers)
      = link_to_add_nested_attribute(:poll_answers)
    = render_nested_attribute_association(:poll_answers, f)

  - unless request.xhr?
    = render 'shared/admin/region_type_select', :f => f

  .actions
    = f.submit

  -# the js templates for adding fields, it would probably be nice if this was rendered once, perhaps
  :javascript
    #{nested_attribute_template_js(Poll, :poll_answers)}
